@* @using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Shell.Web.Mvc.Html
@using EPiServer.Forms.Helpers.Internal
@using EPiServer.Forms.Implementation.Elements
@using Optimizely_Project.Models.Blocks

@model FormWithMultipleLayout

@{
 var formElement = Model.FormElement;
    var labelText = Model.Label;
    var placeholderText = Model.PlaceHolder;
    // var defaultOptionItemText = !string.IsNullOrWhiteSpace(placeholderText) 
    // ? placeholderText 
    // : Html.Translate(string.Format("/episerver/forms/viewmode/selection/{0}",
    // Model.AllowMultiSelect ?
    // "selectoptions" :
    // "selectanoption"));
    var defaultOptionSelected = !Model.AllowMultiSelect && !Model.Items.Any(x => x.Checked.HasValue && x.Checked.Value) ? "selected=\"selected\"" : "";
    var items = Model.GetItems();
    var defaultValue = Model.GetDefaultValue();
}

   
@{
    using (Html.BeginElement(Model, new { @class = "FormSelection" + Model.GetValidationCssClasses(), data_f_type = "selection" }))
    {
        <label for=@formElement.Guid
        class="Form__Element__Caption">Model.labelText</label>
    
    <select name=@formElement.ElementName id=@formElement.Guid Model.AttributesString data-f-datainput>
        <option disabled="disabled" defaultOptionSelected value="">"Select Text"</option>
            @{
                foreach (var item in Model.Items)
                {
                    <option value=item.Value selectedString  defaultSelectedString data-f-datainput>item.Caption</option>
                }
            }
    </select>
    @Html.ValidationMessageFor(Model)
    }
} *@